{% extends "dsrt/base.html" %}
{% block content %}

    <script>
        function updateCT(value){
            
            var index = document.getElementById("CtSlider").value;
            var checked = document.getElementById("ContourShow").checked;
            var roiIndex = document.getElementById("RoiIndex").value;

            var oldImage = document.getElementById("ct");
            var newImage = new Image();

            newImage.src = "/AlgoEngine/ct_images/{{id}}/{{study}}/{{series}}/" + roiIndex + "/" 
                + index + "/" + checked + "/";
            newImage.id = "ct";
            oldImage.parentNode.insertBefore(newImage, oldImage);
            oldImage.parentNode.removeChild(oldImage);

        }
    </script>

    <h4>Data for patient: {{patient}} </h4>

    <ul class="nav nav-tabs" role="tablist" style="overflow-x:auto;overflow-y:hidden;display:-moz-box;">
        {% for roi in rois %}
            <li class="nav-item" style="float:none;">
            {% if forloop.first %}
                <a class="nav-link active" id="nav-{{roi.name}}-tab" href="#nav-{{roi.name}}" data-toggle="tab" role="tab" aria-controls="nav-{{roi.name}}" aria-selected="true">{{roi.name}}</a>
            {% else %}
                <a class="nav-link" id="nav-{{roi.name}}-tab" href="#nav-{{roi.name}}" data-toggle="tab" role="tab" aria-controls="nav-{{roi.name}}" aria-selected="false">{{roi.name}}</a>

            {% endif %}
            
                
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for roi in rois %}
            {% if forloop.first %}
                <div class="tab-pane fade show active" id="nav-{{roi.name}}" role="tabpanel" aria-labelledby="nav-{{roi.name}}-tab">
            {%else%}
                <div class="tab-pane fade" id="nav-{{roi.name}}" role="tabpanel" aria-labelledby="nav-{{roi.name}}-tab">
            {%endif%}

                    <h4>Viewing ROI: {{roi.name}}</h4>
                    <span id="sidebar" style="display:inline-block;vertical-align:top;">
                        <div>View Contours</div>
                        <div id="image">
                            <img id="ct" src="/AlgoEngine/ct_images/{{id}}/{{study}}/{{series}}/"/>
                        </div>
                        
                        <!-- Set up slider for contour-->
                        <form>
                            <div class="form-group">
                                <label for="CtSlider">Scroll CTs</label>
                                <input type="range" onchange="updateCT(this.value);" id="CtSlider" min="0" max="{{number_of_cts}}" value="0">
                            </div>
                            <div class="input-group">
                                <input type="checkbox" id="ContourShow" aria-label="Show Contour">
                                <label for="ContourShow">Show Contour</label>
                            </div>
                            <input type="hidden" value="{{roi.rt_roi_id}}" id="RoiIndex">
                        </form>

                        <div id="plans">
                            <button class="btn" href="/AlgoManager/plan/{{id}}/{{study}}/{{studies}}/">
                                View Patient's Plan
                            </button>
                        </div>
                    </span>

                    <span style="display:inline-block;vertical-align:top;">
                        <img id="dvh" src="/AlgoEngine/dvh/{{id}}/{{study}}/{{series}}/{{roi.rt_roi_id}}/"/>
                    </span>
                </div>
        {% endfor %}        
    </div>


{% endblock %}