{% extends "dsrt/base.html" %}
{% block title %}Upload Files{% endblock %}
{% block content %}
<style>

header{

	text-indent:750px;
	font-size:20px;
	color:Black;
}

h1{
	margin-top:100px;
	text-align:center;

}

#info{

	margin-top:100px;
	color:Black;
	margin-left:250px;

}
#button{

	margin-left:160px;
}



</style>
    <div class="container" >
    <div class="panel panel-default">
    <div class="panel-body">
        <div>
            <header>Clinical ID:<b>{{hospital}}<p></header>
        </div>
    <h1>New Case to be Analysed</h1>
        <!-- The start of the form -->
       <form id="info" id="uploadDataset" action="" method="post" enctype="multipart/form-data">
	
           {% csrf_token %}
           <div class="form-group">
		CT Scan Upload: <input type="text"name="patientName" placeholder="Patient Name">
		<input type="file" id="myFile">
		
           </div>
	    <button id="button" type="submit" class="btn btn-primary btn-md">Upload</button>
      </form>
	
    
{% endblock %}
