<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>DSRT</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
	{% block extra_link %}{% endblock %}
<head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  		<a class="navbar-brand" href="/home">Radiation Therapy Decision Support</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    			<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarColor01">
    			<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
								<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
						</li>
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/upload/patients">View Patients</a>
					    </li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
					    </li>
				   	    <li class="nav-item">
							<a class="nav-link" href="/features">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/faq">FAQ</a>
						</li>
					{% endif %}
      				
    			</ul>
				<ul class="navbar-nav ml-auto">
					{% if user.is_authenticated %}
						<li class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Welcome {{ user.username }}!
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
									
									<li class="nav-item">
											<a class="nav-link" href="/upload">Upload</a>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="/users/options">Options</a>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="/users/logout">Logout</a>
									</li>
								</li>
							</ul>
						</li> 
					{% else %}
						<li class="nav-item">
						<a class="nav-link" href="/users/signup">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/users/login">Login</a>
						</li>
					{% endif %}
				</ul>
  		</div>
	</nav>

	{% block content %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
